@model Rockaway.WebApp.Areas.Admin.Models.VenueViewModel;

@{
	ViewData["Title"] = Model.Name;
}

<h1>Details</h1>
<div>
	<h4>Venue</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Slug)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Slug)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address),
			@Html.DisplayFor(model => model.City),
			@Html.DisplayFor(model => model.PostalCode),
			@Html.DisplayFor(model => model.CountryName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Telephone)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Telephone)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.WebsiteUrl)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.WebsiteUrl)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
<h2>Shows</h2>
<ul>
	@foreach (var show in Model.Shows) {
		<li>
			@show.Date: @show.HeadlineArtistName
			@if (show.DisplaySupportArtists) {
				<text>(support: @String.Join(", ", show.SupportArtistNames))</text>
			}
		</li>
	}
</ul>
